.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: currentColor;
}

.svg {
  width: 100%;
  height: 100%;
  transition: color 0.15s ease;
}

/* Sizes */
.icon.sm {
  width: 1rem; /* 16px */
  height: 1rem; /* 16px */
}

.icon.md {
  width: 1.25rem; /* 20px */
  height: 1.25rem; /* 20px */
}

.icon.lg {
  width: 1.5rem; /* 24px */
  height: 1.5rem; /* 24px */
}
