.divider {
  border: none;
  background-color: var(--color-border-default);
}

.divider.horizontal {
  width: 100%;
  height: 1px;
  margin: 24px 0;
}

.divider.vertical {
  width: 1px;
  height: 100%;
  margin: 0 16px;
}
